@if (stageWidth() > 0) {
  <ko-stage #stage class="card-canvas__stage" [config]="stageConfig()">
    <ko-layer [config]="konvaLayerConfig()">
      @for (item of drawItems(); track item.key) {
        @switch (item.element) {
          @case ('image') {
            <ko-image
              [config]="item.config"
              (click)="selectLayer(item.layerId)"
              (dragstart)="onGestureStart()"
              (transformstart)="onGestureStart()"
              (dragend)="onDragEnd($event)"
              (transformend)="onTransformEnd($event)"
            />
          }
          @case ('rect') {
            <ko-rect
              [config]="item.config"
              (click)="selectLayer(item.layerId)"
              (dragstart)="onGestureStart()"
              (transformstart)="onGestureStart()"
              (dragend)="onDragEnd($event)"
              (transformend)="onTransformEnd($event)"
            />
          }
          @case ('ellipse') {
            <ko-ellipse
              [config]="item.config"
              (click)="selectLayer(item.layerId)"
              (dragstart)="onGestureStart()"
              (transformstart)="onGestureStart()"
              (dragend)="onDragEnd($event)"
              (transformend)="onTransformEnd($event)"
            />
          }
          @case ('line') {
            <ko-line
              [config]="item.config"
              (click)="selectLayer(item.layerId)"
              (dragstart)="onGestureStart()"
              (dragend)="onDragEnd($event)"
            />
          }
          @case ('text') {
            <ko-text
              [config]="item.config"
              (click)="selectLayer(item.layerId)"
              (dragstart)="onGestureStart()"
              (transformstart)="onGestureStart()"
              (dragend)="onDragEnd($event)"
              (transformend)="onTransformEnd($event)"
            />
          }
        }
      }
      <ko-transformer #transformer [config]="transformerConfig()" />
    </ko-layer>
  </ko-stage>
}
