:host {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.shape-properties {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-sm) var(--space-md);
  }
}
