@if (layer(); as current) {
  <div class="layer-properties__header">
    <span class="layer-properties__dot" [class]="'layer-properties__dot--' + current.type"></span>
    <span class="layer-properties__name">{{ current.name }}</span>
  </div>

  @switch (current.type) {
    @case ('image') {
      <app-image-properties [layer]="current" (layerChange)="patch.emit($event)" />
    }
    @case ('shape') {
      <app-shape-properties [layer]="current" (layerChange)="patch.emit($event)" />
    }
    @case ('icon') {
      <app-icon-properties [layer]="current" (layerChange)="patch.emit($event)" />
    }
    @case ('frame') {
      <app-frame-properties [layer]="current" (layerChange)="patch.emit($event)" />
    }
    @case ('text') {
      <app-text-properties [layer]="current" (layerChange)="patch.emit($event)" />
    }
  }
} @else {
  <p class="layer-properties__empty">Keine Ebene ausgewählt</p>
}
